always-auth=true

@buttress:registry=https://git.wearelighten.co.uk/api/v4/projects/318/packages/npm/
//git.wearelighten.co.uk/api/v4/projects/318/packages/npm/:_authToken=${NPM_TOKEN}

@ltncomp:registry=https://git.wearelighten.co.uk/api/v4/projects/335/packages/npm/
//git.wearelighten.co.uk/api/v4/projects/335/packages/npm/:_authToken=${NPM_TOKEN}